#simulation-canvas {
  display: block;
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 256px;
  height: 256px;
  outline: 0;
  border: 1px red solid;
}
